# PostgreSQL Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/student_management_System
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456

# Application Configurations
JWT_SECRET=407A46725678309A4D3B592D3F4428472B4B6250655368566D59713374367739
SERVER_PORT=8082
