# MySQL Database Configuration
DATABASE_URL=jdbc:mysql://localhost:3306/student_management_System?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DATABASE_USERNAME=root
DATABASE_PASSWORD=12345

# Application Configurations
JWT_SECRET=407A46725678309A4D3B592D3F4428472B4B6250655368566D59713374367739
SERVER_PORT=8082
